<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Success</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body bgcolor="#b0e0e6" >
	<marquee>
	<font face="verdana" color="#191970" size="7">
	<b>**CONGRATULATIONS LOGIN  SUCCESSFULL**</b>
	</font>
	</marquee>
		<table border = "1" cellpadding = "10" cellspacing = "10" bordercolor = "#00ff00" bgcolor = "#f0e68c" align="center" style="margin-top:60px">
			<tr>
				<font size="4">
				<th>DOCTOR ID</th>
				<th>PATIENT ID</th>
				<th>NAME</th>
				<th>AGE</th>
				<th>DATE OF VISIT</th>
				<th>FEES</th>
				<th>DIAGNOSIS</th>
				</font>
			</tr>
			<tr>
				<font size="2">
				<td>D1</td>
				<td>P1</td>
				<td>Mona</td>
				<td>30</td>
				<td>10/1/2019</td>
				<td>1000</td>
				<td>Cataract</td>
				</font>
			</tr>
         
		</table>
   </body>
</html>